{% block head %}
<title>acerca_de_mi</title>
{% endblock %}

{% extends 'base.html' %}
{%block content%}
<div>
    <p>
    Hola soy Johan Daniel Jimenez Benavente, mido 1.80 me agrada hacer ciclismo, ver anime, jugar league of legends
    en el cual mi personaje favorito es teemo, ademas hacer deporte es algo fundamental para mi dia a dia.
    </p> </br>
    <p>
    Soy un fanatico del linux solo para programar, soy un aficionado al ethical-hacking y al machine learning, ademas de
    todo eso mi sueño es ser un ifbb-pro ademas de senior en programación.
    </p>
</div>



{% endblock %}
